.certificate{
  position: relative;
  margin-top: 100px;
  background: url('../../src/img/backgrounds/certificate__background2.png');
  background-size: cover;
  justify-content: center;
  @media(max-width: 768px){
    background: url('../../src/img/backgrounds/certificate__background2.png') center;
  }
  &__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 80%;
    flex-direction: column;
    @media(min-width: 500px){
      flex-direction: row;
      padding: 60px 0;
      width: 70%;
    }
    @media(min-width: 769px){
      padding: 75px 0;
    }
    @media(min-width: 1025px){
      padding: 170px 0;
    }
  }
  &__decoration{
    position: relative;
    width: 40%;
    @media(min-width: 500px){
      width: 35%;
    }
    @media(min-width: 768px){
      width: 40%;
    }
    @media(min-width: 1025px){
    width: 50%;
    }
    &-background{
      opacity: 0.6;
    }
    &-icon{
      position: absolute;
      top: 20px;
      left: -20px;
      width: 40px;
      z-index: 2;
      filter: drop-shadow(2.179px 24.905px 45px rgba(0,92,152,0.75));
      @media(min-width: 500px){
        top: 55px;
        left: -30px;
      }
      @media(min-width: 769px){
        top: 101px;
        left: -30px;
        width: 80px;
      }
      @media(min-width: 1025px){
        width: auto;

      }
    }
    &-mail{
      position: absolute;
      left: 0px;
      top: 25%;
      filter: drop-shadow(2.179px 24.905px 45px rgba(0,92,152,0.75));
      @media(min-width: 768px){
      left: -10px;
      }
    }
  }
  &__content{
    width: 100%;
    padding: 20px 0;
    @media(min-width: 768px){
    padding: 0;
    width: 50%;
    }
  }
  &__title{
    font-weight: bold;
    position: relative;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    &:before{
      position: absolute;
      top: 100%;
      width: 20%;
      height: 4px;
      border-radius: 10px;
      content: '';
      background-color: $orange;
    }

    @media(min-width: 769px){
      padding-bottom: 20px;
      margin-bottom: 30px;
      font-size: 50px;

    }
  }
  &__text{
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 20px;
    @media(min-width: 769px){
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
  &__subtitle{
    font-weight: bold;
    @media(min-width: 1025px){
      font-size: 20px;
    }
  }
  &__arrow{
    position: absolute;
    bottom: 250px;
    left: 95%;
    transform: translate( -50% , 0) rotate(-90deg);
    @media(min-width: 500px){
      bottom: 50px;
      transform: translate(-50% , 0);
      left: 40%;
    }
    @media(min-width: 769px){
      bottom: 80px;
      left: 45%;
    }
    @media(min-width: 1025px){
      bottom: 270px;
      left: 50%;
    }
  }
}
